.card {
    background-image: url("https://img.freepik.com/free-photo/cascade-boat-clean-china-natural-rural_1417-1356.jpg?w=900&t=st=1699289858~exp=1699290458~hmac=7543714908ed3a0a4e6d2499d6a96425ef4eeaa4ca4af426a7aac845b30a3806");
    height: 100vh;
    width: 100vw;
    background-size: "cover";


} 